<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="keywords" content="@keywords" />
	<title>@title</title>
	<link id="style" rel="stylesheet" type="text/css" href="style2.css" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> 

</head>
<body>
<div class="navbar">
<a href="./">Home</a> | <a href="plan.html">.plan Archive</a> | <a href="interviews.html">Interview Archive</a> | <a href="slashdot.html">Slashdot Archive</a> | <a href="audio.html">Audio Archive</a> | <a href="pdfs.html">.pdf Archive</a> <!--| <a href="http://validator.w3.org/check/referer">validate html</a>-->
</div>

<div class="main">
<p><img src="title.png" alt="John Carmack" /></p>
