<h1>John Carmack Archive</h1>
<p>
	Hmmm.
</p>


<h2>Info</h2>
<p>
	Main site should be found at <a href="http://www.team5150.com/~andrew/carmack">http://team5150.com/~andrew/carmack</a>.
	The format for the site is of course borrowed from Carmack's actual <a href="http://www.armadilloaerospace.com/n.x/johnc/Recent%20Updates">plan/blog</a>.
</p>


<h2>Download</h2>
	<p>
	If you would like a local copy of the archive (as it contains quite a bit of reading), you may download
	<a href="files/johnc_archive.zip">johnc_archive.zip (~650kb)</a>.
	</p>

<h2>Develop</h2>
	<p>
	The data &amp; source to build the archive is now up at <a href="https://github.com/floodyberry/carmack">github.com/floodyberry/carmack</a>.
	</p>

@extra