<h1>John Carmack .pdf Archive</h1>
<p></p>
<h2>Overview</h2>

<p>You can now download the various sections of the archive as .pdfs! Thanks to <a href="http://www.latex-project.org/">LaTeX</a> and <a href="http://www.miktex.org/">MiKTeX</a> in particular, the .pdfs nearly resemble proper books; every effort was made to ensure that everything converted to the .tex format properly and that the layout and functionality offered more than just a carbon copy of the HTML.</p>

<p>Now with the <a href="http://slashdot.org">Slashdot</a> archive!</p>

<h2>Download</h2>
<ul>
	<li><a href="pdf/johnc-plan_1996.pdf">1996 .plan Archive</a></li>
	<li><a href="pdf/johnc-plan_1997.pdf">1997 .plan Archive</a></li>
	<li><a href="pdf/johnc-plan_1998.pdf">1998 .plan Archive</a></li>
	<li><a href="pdf/johnc-plan_1999.pdf">1999 .plan Archive</a></li>
	<li><a href="pdf/johnc-plan_2000.pdf">2000 .plan Archive</a></li>
	<li><a href="pdf/johnc-plan_2001.pdf">2001 .plan Archive</a></li>
	<li><a href="pdf/johnc-plan_2002.pdf">2002 .plan Archive</a></li>
	<li><a href="pdf/johnc-plan_2003.pdf">2003 .plan Archive</a></li>
	<li><a href="pdf/johnc-plan_2004.pdf">2004 .plan Archive</a></li>
	<li><a href="pdf/johnc-plan_2005.pdf">2005 .plan Archive</a></li>
	<li><a href="pdf/johnc-plan_2006.pdf">2006 .plan Archive</a></li>
	<li><a href="pdf/johnc-plan_2007.pdf">2007 .plan Archive</a></li>
	<li><a href="pdf/johnc-slashdot.pdf">Slashdot Archive</a></li>
	<li><a href="pdf/johnc-interviews.pdf">Interview Archive</a></li>
</ul>